
:root{
    --font-title: 'Noto Sans JP', sans-serif;;
    --font-title-roboto : 'Roboto', sans-serif;
    --title-size: 1.5em  
}
.App{
    font-family: var(--font-title);
    background-color: #fff1e6;
}
.quisuisje{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0% 5%;
    font-family: var(--font-title);
}
.profilePhoto{
    width:200px; 
    border-radius: 50%;
    flex-grow: 1;
    /* animation: go-circle 1s ease-in forwards infinite alternate; */
}
.photoContainer{
}
.circle{
    position:absolute;
    border-radius: 50%;
    -webkit-box-shadow: 3px 8px 10px 0px rgba(0,0,0,0.57); 
    box-shadow: 3px 8px 10px 0px rgba(0,0,0,0.57);
    background: rgb(250,188,89);
    background: linear-gradient(90deg, rgba(250,188,89,0.9728933809852066) 11%, rgba(0,0,0,1) 88%);
    animation: go-circle 0.5s ease-in forwards infinite alternate;
}
.big__circle{
    width: 50px;
    height:50px;
    top: 300px;
    left: 400px;
}
.small__circle{
    width: 25px;
    height:25px;
    top: 400px;
    left: 50px;
}
.quisuisje:hover .profilePhoto{
}
@keyframes go-circle{

    10%{
        transform: translateX(1%) translateY(1%);
    }
    20%{
        transform: translateX(2%) translateY(2%);
    }
    30%{
        transform: translateX(3%) translateY(3%);
    }
    40%{
        transform: translateX(4%) translateY(4%);
    }
    50%{
        transform: translateX(5%) translateY(5%);
    }
    60%{
        transform: translateX(6%) translateY(5%);
    }
    70%{
        transform: translateX(7%) translateY(4%);
    }
    80%{
        transform: translateX(8%) translateY(3%);
    }
    90%{
        transform: translateX(9%) translateY(2%);
    }
    100%{
        transform: translateX(10%) translateY(1%);
    }
}
.description{
    flex-grow: 1;
    margin: 5%;
    text-align: center;
}
h1{
    text-align:center;
}
h2 {
    font-size: larger;
}
.sectionTitle{
    font-size: 350%;
    text-align: center;
    font-weight: bold;
    padding-top: 7%;
    font-family: 'Roboto', sans-serif;}
.quote{
    font-family: 'Great Vibes', cursive;
    font-size:200%
}
.sectionVide{
    width: 100%;
    height: 50%;
}
.projectDescription{
    /* flex-grow: 2; */
}
.missions{
    flex-grow: 2;
    border-left: #fabc59 solid;
    padding-left: 3%;
    margin-left: 2%;
}
.containerProject{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: black;
    color: #ece2d2;
    border: #fabc59 0.5px solid ;
    border-radius: 0.5%;
    padding: 2% 5%; 
    margin: 5%;

    /* -webkit-box-shadow: 0px 0px 7px -1px #F6BD60; 
    box-shadow: 0px 0px 7px -1px #F6BD60; */
}
.firstContainer{
    margin-top:0%
}
.SocialMedia{
}
.containerFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2% 5%; 
    background-color: black;
    /* margin: 5% */
}
.socialMediaLinks{
    font-size: large;
}
.AllRightReserved{
    text-align: center;
    padding: 0.5%;
    margin-bottom: 0%;
    background-color: #fabc59;
    color: black;
}
.section3{
    background-color: black;
    color: aliceblue;
    margin-top: 0%;
    
}
.mockup{
    margin: 0% 5%;
}
.informations{
    margin-top: 0%;
}
.section1, .section4{
    background-color: #ffe2cc;
    background-image: url('../assets/element.svg');
    background-repeat:round
}

.section1, .section2, .section4{
    padding-bottom: 7%;
}
.section5{
    margin: 5rem 0;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.stack{
    flex-grow: 3;
}

#imageStack{
    width: 50px;
    height: auto;
    flex-grow: 5;
}
.descriptionPrototypeP1{
    text-decoration: underline;
}
.descriptionPrototype{
    text-align: center;
    font-family: var(--font-title-roboto);
    font-size: large;
}
#mockup__typo{
    text-align: center;
    margin-top: 10%;
}
@media screen and (max-width:640px) {
    .informations{
        font-size: 3rem;
    }
}